

<div class ="container card p-3">
  <div class="d-flex flex-column-reverse overflow-auto" style="height: 400px;">
    <ul id="messages" class ="messages">    </ul>
  </div>
</div>

<form id="form" class="container col p-3 " >
    <input id="input"  class="form-control"/> 
    <button type="submit" class="col-lg-12 btn btn-success btn-block comment-submit-button"> Send Message</button>
</form>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/js/chatroom.js"></script>


