<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
{{! new post form }}
<div class="create-post m-4">
  <h4 class="subtitle mb-4">Create New Blog Post Below:</h4>
  <div class="submit-post-form" id="new-post-form"> 
  
  <div class="submit-post-form">
    <!-- Post Title Input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="new-post-title">Post Title</label>
      <input
        type="text"
        id="new-post-title"
        class="form-control"
        placeholder="Title"
      />
    </div>

    <!-- Post content text area -->
    <div class="form-outline mb-4">
      <label class="form-label" for="new-post-content">Content</label>
      <textarea
        id="new-post-content"
        class="form-control"
        placeholder="Enter content here"
      ></textarea>
    </div>

    <!-- Post file area -->
    <div class="form-outline mb-4">
      {{!--<label class="form-label" for="new-post-file">Media</label>
       <input
        type="file"
        id="new-post-file"
        class="form-control"
        placeholder="file"
      /> --}}
      
      <button type="button" class="cloudinary-button" onclick="cloudinaryWidget.open()">
  Upload files 
      </button>
      
    </div>
    <div id="image-show">
    {{!-- preview of images --}}
    {{!-- <img src="https://res.cloudinary.com/drmapjksn/image/upload/c_fill,h_100,w_100/unsigned/ID_Photo_5.1x5.1cm_1552019_155705_urevlq"> --}}
    </div>
    <div id="file-show">

      
    </div>

    <!-- New Post Submit button -->
    <button
      type="click"
      class="btn btn-success btn-block mb-4 post-submit-button"
      id="post-submit-button"
    >Create Post</button>
  </div>
  </div>

</div>

<script src="/js/submitPost.js"></script>