{{!-- registration form page --}}
<div class="login m-4">
    <h4 class="text-center mb-4">Register Below:</h4>
    <form class="register-form" id"register-form">

        <!-- Username input -->
        <div class="form-outline mb-4">
            <input type="text" id="register-username" class="form-control" placeholder="Create a username" required/>
            <label class="form-label" for="register-username">Username</label>
        </div>
        
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="register-email" class="form-control" placeholder="Your email" required />
            <label class="form-label" for="register-email">Email address</label>
        </div>
       
        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="register-password" class="form-control" placeholder="Create a password" required />
            <label class="form-label" for="register-password">Password</label>
            <div id="passRequirement" class="form-text">Password length must be at least 8 characters long.</div>

        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-success btn-block mb-4">Register</button>


    </form>
</div>
<script src="/js/register.js"></script>




{{!-- Moved following inputs to Profile page routing --}}


{{!-- <!-- First Name input -->
        <div class="form-outline mb-4">
            <input type="text" id="register-firstname" class="form-control" placeholder="Enter your first name" />
            <label class="form-label" for="register-firstname">First Name</label>
        </div>

        <!-- LastName input -->
        <div class="form-outline mb-4">
            <input type="text" id="register-lastname" class="form-control" placeholder="Enter your last name" />
            <label class="form-label" for="register-lastname">Last Name</label>
        </div>

        <!-- DOB input -->
        <div class="form-outline mb-4">
            <input type="date" id="register-dob" class="form-control" placeholder="MM/DD/YYYY" />
            <label class="form-label" for="register-dob">Date of Birth</label>
        </div> --}}