<div class="nav-container">
        <nav class="navbar">
            <h1 id="navbar-logo">RutIGchat</h1>
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-menu">
                <li><a href="dashboard.html" class="nav-links">Dasboard</a></li>
                <li><a href="#search-about" class="nav-links">About</a></li>
                <li><a href="#policy-p" class="nav-links">Policy</a></li>
                <li><a href="login.html"class="nav-links nav-links-btn">Log in</a></li>
                
            </ul>
        </nav>
    </div>

    <div class="main">
        <div class="main-container">
            <h1 class="h1">RutIGchat</h1>
            <p>Now you can chat with you friends<br> about code all day long</p>
            <button class="main-btn-one"><a></a>Explore your Profolio</button>
            <button class="main-btn"><a></a>Sing in here!</button>
        </div>
    </div>

    <div id="search-about">
        <div class="about-text">
            <h1>about Us</h1>
            <p>We are four fullstack develepers based in the US, attiending the
                the Rutgres bootcamp. We are exiting to introduce today our
                brend new application which was made to create a good impacte in
                people's life daly . We are experts in Android
                architecture, delivery and web application development.
            </p>
            <p>
                <span class="Philo">Ours Philosophy: </span>  
                In order to create a solid application and satisfy the costumer meet
                we do mvp protocol <a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93presenter"> MVP </a>
                provident dolore totam, maxime tenetur natus odit quasi animi
                laudantium obcaecati, in corrupti. Saepe, labore assumenda id,
            </p>
        </div>

    <div id="policy-p" class="footer">
        <h3 class="footer-text">
            This message "Remember to keep
            comments respectful<br>and to follow our Community Guidelines"
        </h3>
        <ul class="footer-list">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="" class="footer-btn">Sing Up</a>
            </li>
        </ul>
        
    </div>