{{!--welcome displays the landing page--}}
<section class="welcome">
    <div class="main">
        <div class="main-container">
            <h1 class="h1">RutIGchat</h1>
            <p>Now you can chat with you friends<br> about code all day long</p>
            <button class="main-btn-one"><a></a>Share your Portfolio</button>
            <a href="/login"><button class="main-btn">Sign up here!</button></a>
        </div>
    </div>

    <div id="search-about">
        <div class="about-text">
            <h1>about Us</h1>
            <p>We are four fullstack web developers based in the US, attending the
                the Rutgers Coding Bootcamp. We are excited to introduce our
                brand new application which was made to create an impact in
                people's daily lives. We are experts in Android
                architecture, delivery and web application development.
            </p>
            <p>
                <span class="Philo">Our Philosophy: </span>  
                In order to create a solid application and satisfy the custumer requirements
                we follow MVP protocol for application development <a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93presenter"> MVP </a>
            </p>
        </div>

    <div id="policy-p" class="footer">
        <h3 class="footer-text">
            "Remember to keep comments respectful<br>and to follow our Community Guidelines"
        </h3>
        <ul class="footer-list">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li>
                <a href="/login" class="footer-btn">Sign Up</a>
            </li>
        </ul>
        
    </div>
</section>

    <script src="/js/index.js"></script>